@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    font-family: 'Play', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
/* Paleta de colores: 
#0f1214
#00243d
#00336c
#003f9c
#0045c7
#5e3eea
#b200ff
*/