@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
*{
    font-family: 'Play', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.card{
    position: relative;
    overflow: hidden;
    border: 8px solid #bf01d3;
    border-radius: 16px;
}
.card-img-top{
    border-radius: 0;
}
.card-body{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: -364px;
    background: linear-gradient(#00243d71, black);
    backdrop-filter: blur(4px);
    transition: ease-in-out .5s;
}

.card:hover .card-body{
    bottom: 0;
    transition: all .5s;
}
.btn-morado{
    background: #00243d;
    color: white;
}
.btn-morado:hover{
    background: #35083a;
}
/* Paleta de colores: 
#0f1214
#00243d
#00336c
#003f9c
#0045c7
#5e3eea
#b200ff
*/

/* Página de detalle de pelicula */
.cube{
    --side-length: 200px;
    --semi-side-length: calc(var(--side-length)/2);
    width: var(--side-length);
    height: var(--side-length);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.85s cubic-bezier(0.175,0.885,0.320,1.275);
    transform: rotateX(-15deg) rotateY(15deg);
}
.cube-face{
    width: inherit;
    height: inherit;
    opacity: 1;
    position: absolute;
}
.front{
    transform: translate3d(0,0,var(--semi-side-length));
    background-image: url(../img/juego1_img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.back{
    transform: rotateY(180deg) translate3d(0,0,var(--semi-side-length));
    background-image: url(../img/juego1_img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.left{
    transform: rotateY(-90deg) translate3d(0,0,var(--semi-side-length));
    background-image: url(../img/juego1_img3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.right{
    transform: rotateY(90deg) translate3d(0,0,var(--semi-side-length));
    background-image: url(../img/juego1_img4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.top{
    transform: rotateX(90deg) translate3d(0,0,var(--semi-side-length));
    background-image: url(../img/juego1_img5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bottom{
    transform: rotateX(-90deg) translate3d(0,0,var(--semi-side-length));
    background-image: url(../img/juego1_img6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.scene{
    --side-length:200px;
    width: var(--side-length);
    height: var(--side-length);
    margin-top: 50px;
    perspective: 600px;
    display: inline-block;
}
body{
    text-align: center;
    padding: 50px;
}
/*controles*/
#radio-back:checked ~ .scene .cube{
    transform: rotateY(180deg);
}
#radio-left:checked ~ .scene .cube {
    transform: rotateY(90deg); 
} 
#radio-right:checked ~ .scene .cube {
    transform: rotateY(-90deg); 
}
#radio-top:checked ~ .scene .cube {
    transform: rotateX(-90deg); 
}  
#radio-bottom:checked ~ .scene .cube {
    transform: rotateX(90deg); 
}   
.separator{
    padding: 5px;
}
